.header {
	display: flex;
	align-items: center;
	Background-Color: #eeeee4;
	padding: 10px;
}

.logo-container {
	margin-right: 20px;
}

.logo {
	height:50px;
	width: auto;
}

.nav-list {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.nav-list li {
	margin: 0 15px;
}

.nav-list a {
	color: black;
	text-decoration: none;
}

.nav-list a:hover {
	text-decoraion: underline;
}
